.organization-page-1-container {
  .field-container {
    display: grid;
    grid-template-columns: 105px 105px 105px 105px 105px 105px;
    grid-template-rows: auto;
    grid-gap: 38px 20px;
    grid-template-areas:
    'name name name email email email'
    'phone phone city city state state'
    'gender gender gender ethnicity ethnicity ethnicity'
    'orgName orgName orgName affiliation affiliation affiliation'
    'orgUrl orgUrl orgUrl orgUrl orgUrl orgUrl';

    label:nth-child(1) {grid-area: name;}
    label:nth-child(2) {grid-area: email;}
    label:nth-child(3) {grid-area: phone;}
    label:nth-child(4) {grid-area: city;}
    label:nth-child(5) {grid-area: state;}
    label:nth-child(6) {grid-area: gender;}
    label:nth-child(7) {grid-area: ethnicity;}
    label:nth-child(8) {grid-area: orgName;}
    label:nth-child(9) {grid-area: affiliation;}
    label:nth-child(10) {grid-area: orgUrl;}
  }
}
.organization-page-2-container {
  .field-container {
    .learner-amount, .learner-age {
      label {
        width: auto;
      }
      input {
        width: 140px;
      }
    }
    .group-wrapper {
      display: flex;
      flex-wrap: wrap;

      label {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 290px;
        font-size: 17px;
        font-weight: 400;
        color: #333333;
        margin: 0 70px 18px 0;
        cursor: default;

        input {
          height: 35px;
          width: 75px;
        }

        &.group-total {
          input {
            background: transparent;
            border: none;
            cursor: default;
          }
        }
      }
    }
  }
}
.organization-page-3-container {
  .field-container {
    .student-attend-times {
      .block-wrapper {
        button {
          min-width: 0;
          &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
            width: calc((100% - (10px*6))/6);
          }
          &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10) {
            width: calc((100% - (10px*4))/4);
            padding: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .organization-page-1-container {
    h2 {text-align: center;}

    .field-container {
      display: block;

      label {margin-bottom: 30px;}
    }
  }
  .organization-page-2-container {
    .field-container {
      .group-wrapper {
        justify-content: space-between;

        label {
          max-width: calc(50% - 10px);
          font-size: 15px;
          margin: 9px 0 0 0;

          input {
            height: 38px;
            width: 38px;
            text-align: center;
            padding: 4px;
          }
        }
      }
    }
    .field-container {
      .learner-amount, .learner-age {
        input {width: 108px;}
      }
    }
  }
  .organization-page-3-container {
    .field-container {
      .student-interest {
        .block-wrapper {
          button {
            &:nth-child(7) {width: max-content;}
            &:nth-child(8) {min-width: min-content; width: calc(100% - 3*10px - 117.517px - 108px);}
          }
        }
      }
      .student-attend-times {
        .block-wrapper {
          button {
            min-width: 0;
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
              width: calc((100% - (10px*6))/6);
            }
            &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10) {
              width: calc((100% - (10px*4))/4);
              padding: 0;
            }
          }
        }
      }
    }
  }
}
