.landing-container {
  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
  }
  h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
  }
  h4 {
    font-weight: 400;
    font-size: 15px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
  }

  .header {
    height: 54px;
    background: linear-gradient(to right, #244a62, #533362);
    padding: 0 10px;

    .logo-container {
      position: relative;
      top: 6px;
      margin: auto;
      max-width: 1145px;

      .logo {
        width: 169px;
        height: 40px;
      }
    }
  }
  .splash {
    height: 306px;
    background: linear-gradient(to right, rgba(0, 131, 213, 1) 0%, rgba(161, 51, 213, 1) 100%);
    -moz-box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.349019607843137);
    padding: 0 10px;

    .splash-container {
      margin: auto;
      display: flex;
      justify-content: space-between;
      height: 306px;
      max-width: 1145px;
      overflow: hidden;

      .text-container {
        margin-top: 72px;

        .img-text {
          height: 160px;
          width: 520px;
        }
        .text {
          font-weight: 600;
          font-size: 18px;
          color: #ffffff;
          text-align: center;
        }
      }
      .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 45px;

        .win-text {
          height: 25px;
          width: 146px;
        }
        .img-ipad {height: 664px;}
      }
    }
  }
  .choice-container {
    max-width: 1145px;
    padding: 56px 0;
    margin: 0 auto;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 30px;
      padding: 0 32px;

      h2 {
        text-align: center;
        margin-bottom: 14px;
      }
      h3 {
        text-align: center;
        margin-bottom: 5px;
      }
      p {
        text-align: left;
        margin-bottom: 20px;
      }
    }
    .option-container {
      display: flex;
      justify-content: space-between;
      line-height: normal;
      padding: 0 32px;

      .option {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 225px;
        width: 243px;
        background-color: rgba(242, 242, 242, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(211, 212, 221, 1);
        border-radius: 10px;
        cursor: pointer;

        &.selected {
          border-width: 2px;
          border-color: rgba(2, 167, 240, 1);

          .fas, .far {
            bottom: 96px;
            color: #02a7f0;
          }
          .text {bottom: 47px;}
        }

        .fas, .far {
          position: absolute;
          bottom: 97px;
          color: #aaaaaa;

          &.fa-user-graduate {font-size: 79px;}
          &.fa-briefcase, &.fa-school {font-size: 72px;}
          &.fa-building {font-size: 80px;}
          &.fa-check-circle {
            top: 15px;
            right: 17px;
            font-size: 28px;
          }
        }
        .text {
          position: absolute;
          bottom: 48px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 38px;
        }
      }
    }
    button {
      margin-top: 55px;
      width: 314px;
      height: 65px;
      font-weight: 700;
      font-size: 18px;
      color: #ffffff;
      background: rgba(170, 170, 170, 1);
      border: none;
      border-radius: 14px;
      outline: none;
      cursor: default;
      transition: 0.2s ease;

      &.selected {
        background: rgba(245, 154, 35, 1);
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.349019607843137);
        cursor: pointer;

        &:hover {
          background: rgba(255, 138, 0, 1);
        }
      }
    }
  }
  .info-container-1 {
    background: rgba(242, 242, 242, 1);
    padding: 40px 10px 54px;

    .info-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1145px;
      text-align: left;
      margin: 22px auto 0;

      .text-container {
        p {
          margin-bottom: 24px;
        }
        .ref {
          font-size: 18px;
          font-weight: 400;
          color: #0000FF;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .info-container-2 {
    color: #ffffff;
    background: rgba(0, 45, 79, 1);
    padding: 90px 10px 75px;

    .info-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1145px;
      text-align: left;
      margin: 0 auto;

      h4 {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 16px;
      }
      .text-container {
        width: 560px;

        p {
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 25px;
        }
        .ref {
          color: rgb(2, 167, 240);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .socials-container {
        width: 507px;

        .icon-container {
          display: flex;
          align-items: center;

          i {
            margin-right: 26px;
            cursor: pointer;
            &:hover {color: #02a7f0;}
            &.fa-twitter {
              font-size: 24px;
            }
            &.fa-linkedin-in {
              font-size: 27.44px;
              margin-top: 2px;
            }
            &.fa-facebook-f {
              font-size: 24px;
            }
            &.fa-instagram {
              font-size: 27.44px;
            }
            &.fa-youtube {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
  footer {
    display: flex;
    align-items: center;
    height: 41px;
    background: rgba(5, 29, 45, 1);

    .text-container {
      max-width: 1145px;
      margin: 0 auto;

      h4 {
        color: #52636e;
        text-align: left;
      }
    }
  }
}
