@media (max-width: 767.98px) {
  .survey-header {
    .logo {height: 40px;}
  }

  .survey-container {
    min-width: 375px;
    width: auto;
    padding: 0 15px 15px;

    h1 {font-size: 22px;}
    h2 {
      font-size: 16px;
      line-height: 20px;
      margin: 15px 0 7px 0;
    }
    label, h3 {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
    }
    input {
      font-size: 15px;
      height: 38px;
      padding-left: 8px;
    }

    .progress-bar-container {
      min-width: 300px;
      width: auto;
      padding: 0 21px;
      margin: 20px auto;

      .node-container {
        .node-wrapper {
          .circle-outer {
            height: 26px;
            width: 26px;
            font-size: 21px;
            font-weight: 400;
            line-height: 20px;

            .circle-inner {
              height: 22px;
              width: 22px;
              line-height: 17px;
            }

            &.complete {
              .fas {
                font-size: 14px;
                line-height: 23px;
              }
            }
          }
          .descriptor {display: none;}
        }
      }

      .progress-auxiliary {
        .progress, .remaining {
          top: -15px;
          height: 4px;
        }
      }
    }

    .textarea-container {
      font-size: 15px;

      textarea {padding: 8px;}
    }

    .btn-container {
      button {
        width: 105px;
        border-radius: 5px;

        &.btn-submit {width: 150px;}
      }
    }

    .block-selection-container {
      &.merge {display: inline-block;}
      .block-wrapper {
        margin: 0 -10px 0 0;

        .block {
          height: 38px;
          min-width: 108px;
          width: 108px;
          font-size: 14px;
          word-wrap: normal;
          padding: 2px;
          margin: 10px 10px 0 0;
        }

        &.merge {
          .block {width: 80px;}
        }
      }
    }
    .radio-container {
      .radio-buttons {
        .radio-group {
          span {font-size: 14px;}

          &.gfirst {align-items: flex-start;}
          &.glast {align-items: flex-end;}
          .radio {margin: 5px 0 3px 0;}
        }
      }
      .radio-auxiliary {
        .radio-progress, .radio-remaining {top: -19px;}
        .slider-labels {
          span:nth-child(2) {display: none;}
        }
      }
    }
    .slider-labels {
      margin-bottom: 10px;

      span {
        font-size: 12px;
        width: 30%;
      }
      span:nth-child(2) {display: none;}
    }
    .slider-value-labels {margin-bottom: 10px;}

    .checkbox-container {
      label {
        max-width: 310px;
        font-size: 13px;
      }

      input {
        // circle
        &:before {
          width: 13px;
          height: 13px;
        }
        // dot
        &:after {
          width: 13px;
          height: 13px;
        }
        &[type=checkbox] {
          &:after {
            width: calc(13px * 0.6);
            height: 16px;
          }
        }
      }

      &.interest-tiv-check {
        input {
          margin-right: 10px;

          &:before {
            height: 18px;
            width: 18px;
          }
          &:after {
            height: 18px;
            width: calc(16px * 0.6);
          }
        }
        label {
          font-weight: 600;
          font-size: 12px;
        }
      }
    }

    .select-container {
      .react-select__control {
        height: 38px;

        .react-select__value-container {
          .react-select__placeholder {font-size: 13px;}
          .react-select__single-value {font-size: 15px;}
        }
      }
    }

    // Slider styles
    .wrapper {
      width: 97%;

      .MuiSlider-root {
        .MuiSlider-thumb {
          height: 20px;
          width: 20px;
          margin: -2px 0 0 -10px;

          .MuiSlider-valueLabel {
            left: calc(-50% + 2px);
            transform: scale(85%) translateY(-5px);
          }
        }
      }
    }

    .field-container {
      margin: 28px 0 48px 0;

      .question-container {
        margin-bottom: 60px;

        h2 {
          line-height: 20px;
          margin: 3px 0;
        }
        .txt-specify {margin-top: 21px;}
        .txt-block-select {
          font-size: 12px;
          line-height: 20px;
          margin-bottom: -5px;
        }
        .txt-clarify {margin-bottom: 10px;}
      }
      .inline-input {
        font-size: 15px;

        input {height: 38px;}
      }
      .inline-disabler {
        label {font-size: 13px;}
      }
      .group-check {
        label {font-size: 13px;}
      }
    }
  }
}
